body {
    margin: 0;
    padding: 0;
    font-family: 'SoDo Sans SemiBold';
}

@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);

@font-face {font-family: "SoDo Sans SemiBold"; src: url("//db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.eot"); src: url("//db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.svg#SoDo Sans SemiBold") format("svg"); }

/* for flexbox */
.flex {
    display: flex;
}

.justity_start {
    justify-content: flex-start;
}

.align_items {
    align-items: center;
}

.flex_column {
    flex-direction: column;
}

/* text center */
.text_center {
    text-align: center;
}

/* navigation and header */
#container1 {
    background-color: white;
    margin: 0;
    padding: 0;
}

#container2 {
    margin: auto;
    padding: 10px;
    /* margin-top: 20px; */
    background-color: rgb(0,34,47);
    color: white;
}

#container2 h6 {
    font-weight: 700;
    padding: 5px 0 5px 130px;
    margin: 0;
    letter-spacing: 1.4px;
    line-height: 21px;
    font-size: 14px;
}

/* navbar flexbox */
.flex_container {
    display: flex;
    align-content: center;
    margin: 0;
    padding: 0;
}

.nav_padding {
    padding: 0 30px;
    margin: 0;
}

.nav_flex {
    align-content: center;
    display: block;
    margin-left: 10px;
    padding: 0;
}

/* right side flex container of navbar */
.flex_container_right_side {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-left: 580px;
    text-decoration: none;
}

.right_side {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 30px 0;
    padding-left: 30px;
    text-decoration: none;
}

/* hover */
#hover1 {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

#hover1:hover {
    color: rgba(0,34,47,0.7);
}

div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div ul li {
    float: left;
}

div ul li a {
    color: black;
    text-decoration: none;
    padding: 30px 15px;
    display: block;
    text-align: center;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 116px;
}

/* starbucks logo */
#starbuckslogo {
    display: block;
    padding: 16px 10px 16px 40px;
    align-items: center;
    justify-content: center;
}

/* starbucks logo image */
#logo_img {
    width: auto;
    height: 60px;
}

#elehover {
    font-size: 15px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
}

.margin_nav {
    margin: 0;
    padding: 40px 10px;
}

#elehover::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    height: 6px;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    background-color: rgb(30, 146, 161);
    transform-origin: center;
    transition: transform 0.2s ease-out;
}

li.active a::before, #elehover:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: center;
}

/* navbar sign in button */
#signin {
    display: inline;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 7px 15px;
    border-width: 1px;
}

#signin:hover {
    background-color: rgba(0,34,47,0.1);
    color: black;
    border-color: rgba(0,34,47,0.2);
}

/* navbar join now button */
#joinnow {
    display: inline;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 7px 15px;
    border-width: 1px;
}

#joinnow:hover {
    background-color: rgba(0, 0, 0,0.7);
    color: white;
}

/* hero image */
.hero_image {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/hero_image.jpg");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* hero text */

.hero_text {
    margin: 0;
    text-align: left;
    position: absolute;
    top:200px;
    left: 230px;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
}

.padding_hero_text {
 padding-top: 360px;   
}

.left_padding_HT {
    padding-left: 30px;
}

/* hero header(free coffee) */
#hero_text_header {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.16px;
    line-height: 46.44px;
    color: white;
}

/* hero image join button */
#hero_join_button {
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px 18px;
    font-size: 16px;
    border-color: rgb(0,34,47);
}

#hero_join_button:hover {
    background-color: rgba(0, 0, 0,0.5);
}

/* hero image join in the app */

.join_app {
    color: white;
}

.join_app:hover {
    text-decoration: none;
}

/* hero image para 1 */
#hero_image_para {
    font-size: 19px;
    line-height: 28px;
    letter-spacing: -0.16px;
    font-weight: 400;
    font-family: 'SoDo Sans SemiBold';
    color: white;
}

/* getting started div */
.getting_started_inner_div {
    flex-direction: row;
    margin: 0 65px;
}

.gsd_main_div_margin {
    margin-top: 140px;
}

.num_img {
    height: 45px;
}

.margin_gsd {
    margin: 40px 70px;
}

.justify_num_gsd {
    justify-content: center;
    align-items: center;
}

.img_margin {
    margin: 0 auto;
}

.para_div_padding {
    padding: 0 35px;
}

.gsd_h2{
    font-size: 28px;
}

.gsd_h3 {
    font-size: 19px;
}
.gsd_para_font {
    font-size: 16px;
    font-weight: 400;
    font-family: "SoDo Sans SemiBold"
}

.gsd_link {
    color: rgb(25,118,210);
}

.gsd_link:hover {
    text-decoration: none;
}

/* get your fav for free */
.gyf_imgs {
    height: 60px;
}