body {
    margin: 0;
    padding: 0;
    font-family: 'SoDo Sans SemiBold';
}

@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);

@font-face {font-family: "SoDo Sans SemiBold"; src: url("//db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.eot"); src: url("//db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.svg#SoDo Sans SemiBold") format("svg"); }

#container1 {
    background-color: white;
    margin: 0;
}

#container2 {
    margin: auto;
    padding: 0;
    background-color: #0087ca;
}
#container2 h6 {
    font-weight: bold;
    padding: 5px 0 5px 100px;
    margin: 0;
    font-size: 15px;
}
div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div ul li {
    float: left;
}

div ul li a {
    color: black;
    text-decoration: none;
    padding: 30px 15px;
    display: block;
    text-align: center;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 101px;
}

#starbuckslogo {
    display: block;
    padding: 11.5px 15px;
    align-items: center;
    justify-content: center;
}
#elehover {
    font-size: 15px;
    display: inline-block;
    position: relative;
}
#elehover::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    height: 3px;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    background-color: #0087ca;
    transform-origin: center;
    transition: transform 0.2s ease-out;
}

li.active a::before, #elehover:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: center;
}


#signin {
    display: inline;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-width: 1px;
}

#signin:hover {
    background-color: #0087ca;
    color: white;
    border-color: #0087ca;
}

#joinnow {
    display: inline;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-width: 1px;
}

#joinnow:hover {
    background-color: white;
    color: black;
}
